<!-- BEGIN #footer -->
<div id="footer" class="footer">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col-3 -->
            <div class="col-md-4">
                <h4 class="footer-header">ABOUT US</h4>
                <p>
                    As one of the largest insurers and financial services companies in East Africa, we have decades of experience in helping discerning individuals protect and create their wealth. But that’s not all. We also keep an eye firmly on the future, using innovation to craft financial products and services that we know you need in today’s constantly changing world.
                </p>
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-2">
                <h4 class="footer-header">RELATED LINKS</h4>
                <ul class="fa-ul">
                    <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Application Help</a></li>
                    <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>
                    <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>
                    <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy & Policy</a></li>
                </ul>
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-3">
                <h4 class="footer-header">OUR BUSINESS</h4>
                <ul class="list-unstyled">
                    <li>
                        <div class="info">
                            <a href="https://www.icealion.com/protect-my-wealth" target="blank">Protect My wealth</a>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <a href="https://www.icealion.com/create-my-wealth" target="blank">Create My wealth</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-3">
                <h4 class="footer-header">OUR CONTACT</h4>
                <address>
                    Riverside Park, Chiromo Road, Westlands<br />
                    P.O. Box 46143 - 00100 or 30190 - 00100 Nairobi<br />
                    Tel: +254 (0) 20 2750000<br />
                    Mobile: +254 719 071000 / 730 151000<br />
                    Email: info@icealion.com<br />
                 </address>
            </div>
            <!-- END col-3 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #footer -->
