 <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">ABOUT US</h4>
                        <p>
                            Cargo Insurity offers you an one stop Marine Certificate application platform with any
                            Insurance Company of your choice and broker from the comfort of your desk.
                        </p>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">RELATED LINKS</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Application Help</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy & Policy</a></li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-2">
                        <h4 class="footer-header">LATEST PRODUCT</h4>
                        <ul class="list-unstyled list-product">
                            <li>
                                <div class="#">Insurance</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-4">
                        <h4 class="footer-header">OUR CONTACT</h4>
                        HEAD OFFICE:AIG Kenya Eden Square Complex Chiromo Road, Kenya.<br/>
                        P.O. BOX 49460 , 00100 , Nairobi, Kenya.<br/>
                        Telephone (Main): (+254) 20 3676 000 ; +254 20 -3676 001, +254  20 3676 002 ;<br/>
                        Mobile : +254 723 600 400 ; +254 723 600 500 ; +254 735 338 830<br/>
                        E-mail: aigkenya@aig.com. <br/>
                    </div>
                    <!-- END col-3 <br/>-->
                 </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->