 <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">ABOUT US</h4>
                        <p>
                            Cargo Insurity offers you an one stop Marine Certificate application platform with any
                            Insurance Company of your choice and broker from the comfort of your desk.
                        </p>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">RELATED LINKS</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Application Help</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy & Policy</a></li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-2">
                        <h4 class="footer-header">LATEST PRODUCT</h4>
                        <ul class="list-unstyled list-product">
                            <li>
                                <div class="#">Insurance</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-4">
                        <h4 class="footer-header">OUR CONTACT</h4>
                        HEAD OFFICE: Jubilee Insurance House, Wabera St,Nairobi, Kenya.<br/>
                        P.O. BOX 30376 , 00100 , Nairobi, Kenya.<br/>
                        Telephone (Main): (+254) 20 328 1000; +254 328 1000 . <br/>
                        Mobile:  +254 709 901 000, +254 719 222 111 <br/>
                        Fax: + 254 (0) 20 328 1150 . <br/>
                        E-mail:info@jubileekenya.com. <br/>
                    </div>
                    <!-- END col-3 <br/>-->
                 </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->