 <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">ABOUT US</h4>
                        <p>
                            Cargo Insurity offers you an one stop Marine Certificate application platform with any
                            Insurance Company of your choice and broker from the comfort of your desk.
                        </p>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">RELATED LINKS</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Application Help</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy & Policy</a></li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-2">
                        <h4 class="footer-header">LATEST PRODUCT</h4>
                        <ul class="list-unstyled list-product">
                            <li>
                                <div class="#">Insurance</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-4">
                        <h4 class="footer-header">OUR CONTACT</h4>
                        HEAD OFFICE: 7th Floor of Crescent Business Centre- Parklands,
                        Along Cresent Road (off Parklands Road-Opposite M.P Shah Hospital), Kenya.<br/>
                        P.O. BOX 39459 , 00623 , Nairobi, Kenya.<br/>
                        Telephone (Main): (+254) 20 8024 149  ;  (+254) 20 8155 965  ; (+254) 20 8155 966 ; (+254) 20 2362 602  . <br/>
                        Mobile:  +254 709 896 000, +254 722 202 926 , +254 734 600 485 <br/>
                        E-mail: enquiries@occidental-ins.com. <br/>
                    </div>
                    <!-- END col-3 <br/>-->
                 </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->