 <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">

                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">RELATED LINKS</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Application Help</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>
                            <li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy & Policy</a></li>
                        </ul>
                    </div>
                    <!-- END col-3 -->

                    <!-- BEGIN col-3 -->
                    <div class="col-md-4" style="float: right;">
                        <h4 class="footer-header">OUR CONTACT</h4>
                        Real Towers, Ground Floor, Hospital Road, Upper Hill.<br/>
                        P.O. Box 41766, 00100 Nairobi,Kenya.<br/>
                        Telephone: +254 20 2895 000; 0703 063 000; 0730 633 000.<br/>
                        E-mail:  info@aar.co.ke <br/>
                    </div>

                                            <!-- END col-3 <br/>-->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->