{% extends 'base.html' %}

{% block page_title %} 
{{block.super}} Registration
{% endblock page_title%}

{% load staticfiles %}

{% block style_code %}
{% endblock style_code %}


{% block javascript_code %}
{% endblock javascript_code %}

{% block primary %}

<!-- begin breadcrumb -->
      <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Marine Insurance</a></li>
        <li class="active">Profile</li>
      </ol>
      <!-- end breadcrumb -->
      <!-- begin page-header -->
      <h1 class="page-header"><i class="fa fa-suitcase"></i> Profile <small> Your details</small></h1>
      <!-- end page-header -->
      
      <div class="panel panel-inverse">
          <div class="panel-heading">
              <div class="panel-heading-btn">

                  <a href="#" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>

                  <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
              </div>
              <h4 class="panel-title">Client details</h4>
          </div>
          <div class="panel-body">
          
        
    </div>
    <!-- end panel-body -->

</div>
<!-- end panel -->

{% endblock primary %}

{% block lazy_js %}


{% endblock lazy_js %}