{% extends 'base_main.html' %}
{% load staticfiles %}
{% block page_title %} 
{{block.super}} Company Registration
{% endblock page_title%}
{% block primary %}
<!-- BEGIN #my-account -->
<div id="about-us-cover" class="section-container">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="#">Home</a></li>
            <li><a href="#">Marine Insurance</a></li>
            <li class="active">Company Account</li>
        </ul>
        <!-- END breadcrumb -->
        <!-- BEGIN account-container -->
        <div class="account-container">
            <!-- BEGIN account-sidebar -->
            <div class="account-sidebar">
                <div class="account-sidebar-cover">
                    <img src="{% static 'img/my-account-cover.jpg' %}" alt="" />
                </div>
                <div class="account-sidebar-content">
                    <h4>Company Account</h4>
                    <p>
                        Modify orders, track a shipment, and update your account info.
                    </p>
                    <p>
                        All you need in one place. All with a few simple clicks.
                    </p>
                </div>
            </div>
            <!-- END account-sidebar -->
            <!-- BEGIN account-body -->
            <div class="account-body">
                <div class="row">
                    {% if messages %}
                      {% for message in messages %}
                        {% if 'error' in message.tags %}
                      <div id="messages" class="alert alert-danger fade in m-b-15">
                      <span class="close" data-dismiss="alert">×</span>
                      <i class="fa fa-info fa-2x pull-left"></i>
                        {% else %}
                      <div id="messages" class="alert alert-success fade in">
                      <span class="close" data-dismiss="alert">×</span>
                      <i class="fa fa-check fa-2x pull-left"></i>
                        {% endif %}    
                      <p>{{ message }}</p>
                        </div>
                     {% endfor %}
                  {% endif %}
                  {% if form.errors %}
                  <div id="messages" class="alert alert-danger fade in m-b-15">
                  <span class="close" data-dismiss="alert">×</span>
                  <i class="fa fa-info fa-2x pull-left"></i>
                   {{ form.non_field_errors }}
                   {{ form.errors }}
                  </div>
              {% endif %}
                </div>
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-6 -->
                    <form action="." method="POST" class="margin-bottom-0" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="col-md-6">
                        <input type="hidden" name="client_type" id="client_type" value="2">
                        <label class="control-label">KRA PIN Number</label>
                        <div class="row m-b-15">
                                {{ form.kra_pin }}
                            </div>
                        </div>
                        <div class="row"></div>
                        {% if cid == 1 %}
                        <input type="hidden" name="insurance_id" id="insurance_id" value="1">
                        <input type="hidden" name="bank_id" id="bank_id" value="1">
                          <input type="hidden" name="broker_id" id="broker_id" value="1">
                        {% elif cid == 2 %}
                        <div class="col-md-6">
                        <label class="control-label">Broker</label>
                        <div class="row m-b-15">
                                {{ form.broker_id }}
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label>Broker ID</label>
                          <input type="text" class="form-control" name="broker" id="broker" readonly="readonly">
                          <input type="hidden" name="company_id" id="company_id">
                          <input type="hidden" name="insurance_id" id="insurance_id" value="1">
                          <input type="hidden" name="bank_id" id="bank_id" value="1">
                        </div>
                        <div class="row"></div>
                        {% elif cid == 3 %}
                        <div class="col-md-6">
                        <label class="control-label">Agent</label>
                        <div class="row m-b-15">
                                <input type="text" name="agent_id" id="agent_id" class="form-control" placeholder="Agent" />
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label>IRA Number</label>
                          <input type="text" class="form-control" name="ira_number" id="ira_number" readonly="readonly">
                          <input type="hidden" name="company_id" id="company_id">
                          <input type="hidden" name="insurance_id" id="insurance_id" value="1">
                          <input type="hidden" name="broker_id" id="broker_id" value="1">
                        </div>
                        <div class="row"></div>
                        {% elif cid == 4 %}
                        <div class="col-md-6">
                        <label class="control-label">Bank</label>
                        <div class="row m-b-15">
                              {{ form.bank_id }}
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label>Bank Code</label>
                          <input type="text" class="form-control" name="bank" id="bank" readonly="readonly">
                          <input type="hidden" name="company_id" id="company_id">
                          <input type="hidden" name="insurance_id" id="insurance_id" value="1">
                          <input type="hidden" name="broker_id" id="broker_id" value="1">
                        </div>
                        <div class="row"></div>
                        {% elif cid == 5 %}
                        <div class="col-md-6">
                        <label class="control-label">Insurance Company</label>
                        <div class="row m-b-15">
                                {{ form.insurance_id }}
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label>Company ID</label>
                          <input type="text" class="form-control" name="insurance" id="insurance" readonly="readonly">
                          <input type="hidden" name="company_id" id="company_id">
                          <input type="hidden" name="broker_id" id="broker_id" value="1">
                          <input type="hidden" name="bank_id" id="bank_id" value="1">
                        </div>
                        <div class="row"></div>
                        {% endif %}
                        
                        <div class="col-md-6" id="company_name_div">
                        <label class="control-label">Company Name</label>
                        <div class="row m-b-15">
                                <input type="text" name="company_name" id="company_name" class="form-control" placeholder="Company Name" />
                            </div>
                        </div>
                        <div class="col-md-6" id="coreg_number_div">
                        <label class="control-label">Company Registration Number</label>
                        <div class="row m-b-15">
                                <input type="text" name="coreg_number" id="coreg_number" class="form-control" placeholder="Registration Number" />
                            </div>
                        </div>

                        <div class="col-md-6" id="etr_number_div">
                        <label class="control-label">ETR Number</label>
                        <div class="row m-b-15">
                                <input type="text" name="etr_number" id="etr_number" class="form-control" placeholder="ETR Number" data-parsley-required="true"/>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-6">
                        <label class="control-label">Mobile Telephone Number</label>
                        <div class="row m-b-15">
                                <input type="text" name="mobile_number" id="mobile_number" class="form-control" placeholder="Mobile Number" data-parsley-required="true"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label class="control-label">Postal Address</label>
                        <div class="row m-b-15">
                                <textarea class="form-control" name="postal_address" id="postal_address" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6" id="phy_address_div">
                        <label class="control-label">Physical Address</label>
                        <div class="row m-b-15">
                                <textarea class="form-control" name="phy_address" id="phy_address" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row"></div>
                         <div class="col-md-6">
                        <label class="control-label">Email</label>
                        <div class="row m-b-15">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label class="control-label">Captcha</label>
                        <div class="row m-b-15">
                                {{ form.captcha }}
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6">
                        <label class="control-label">Password</label>
                        <div class="row m-b-15">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label class="control-label">Re-enter Password</label>
                        <div class="row m-b-15">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="checkbox m-b-30">
                            <label>
                                <input type="checkbox" name="terms" data-parsley-required="true"/> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
                                {% if cid != '1' %}
                                Your details will have to be verified first by the Company / Bank / Agent or Broker.
                                {% endif %}
                            </label>
                        </div>
                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                        </div>
                        <div class="m-t-20 m-b-10 p-b-10">
                            Already a member? Click <a href="{% url 'login' %}">here</a> to login.
                        </div>
                    </form>
                </div>
                <!-- END row -->
            </div>
            <!-- END account-body -->
        </div>
        <!-- END account-container -->
    </div>
    <!-- END container -->
</div>
<!-- END #about-us-cover -->
{% endblock primary %}
{% block lazy_js %}
<script>
    $(document).ready(function() {
      App.init();
    
      // Chosen Select

      var client_type = $("#client_type").val();

      handle_clients(client_type);
      $("#insurance_id").val('');
      $("#bank_id").val('');
      $("#agent_id").val('');
      $("#broker_id").val('');

      $("#client_type").change(function(e) {
          var client_type = $("#client_type").val();
          handle_clients(client_type);
      });

      $("#broker_id").change(function(e) {
          var broker_id = $("#broker_id").val();
          $("#broker").val(broker_id);
          $("#company_id").val(broker_id);
      });

      $("#bank_id").change(function(e) {
          var bank_id = $("#bank_id").val();
          $("#bank").val(bank_id);
          $("#company_id").val(bank_id);
      });

      $("#insurance_id").change(function(e) {
          var ins_id = $("#insurance_id").val();
          $("#insurance").val(ins_id);
          $("#company_id").val(ins_id);
      });

      //IRC query
    $( "#agent_id" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "/forms/public/",
          dataType: "json",
          data: {q: request.term, id: 4},
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 5,
      select: function( event, ui ) {
         $('#ira_number').val(ui.item.ira_number);
         $('#company_id').val(ui.item.id);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    });

function handle_clients(client_type){
       // Company
        $('#etr_number_div').show();
        $('#etr_number').attr('data-parsley-required', 'true');
          //
        $('#id_number_div').hide();
        $('#id_number').attr('data-parsley-required', 'false');
        $('#surname_div').hide();
        $('#surname').attr('data-parsley-required', 'false');
        $('#first_name_div').hide();
        $('#first_name').attr('data-parsley-required', 'false');
        $('#middle_name_div').hide();
        $('#middle_name').attr('data-parsley-required', 'false');
        //
        $('#company_name_div').show();
        $('#company_name').attr('data-parsley-required', 'true');
        $('#coreg_number_div').show();
        $('#coreg_number').attr('data-parsley-required', 'true');
        $('#vat_number_div').show();
        $('#vat_number').attr('data-parsley-required', 'true');
        $('#phy_address_div').show();
        $('#phy_address').attr('data-parsley-required', 'true');

        $('#tax_status_div').hide();
        $('#tax_status').attr('data-parsley-required', 'false');
  }
</script>
{% endblock lazy_js %}