 <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row" style="text-align: justify;   text-justify: inter-word; color: #fff;">
                    <!-- BEGIN col-3 -->
                    <div class="col-md-6">
                        <h4 class="footer-header">ABOUT US</h4>
                        <p>
                            Fidelity Marine Insurance undertakes to compensate the insured against loss of the ship (hull insurance),
                            the cargo, any sums paid in freight (freight insurance), or any liability to a third party occurring during a sea/air voyage.
                            A marine insurance contract may be extended to losses on inland waters or to risks on land that may be incidental to a sea/air voyage.
                            The risks listed in marine insurance policies include perils of the seas, fire, war perils, pirates and seizures.
                            A marine insurance contract is based on utmost good faith and if either party does not observe utmost good faith, the other party may avoid the contract.
                            Through marine insurance, ship owners and transporters can be sure they will not suffer financial losses.
                        <li><i class="fa fa-li fa-angle-right"></i> <a href="https://fidelityshield.com/about-us/" target="blank">Read more about Fidelity Insurance..</a></li>
                        </p>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-2">
                        <h4 class="footer-header">RELATED LINKS</h4>
                        <ul class="fa-ul">

                            <li><i class="fa fa-li fa-angle-right"></i> <a href="https://fidelityshield.com/contact-us/" target="blank">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-4">
                        <h4 class="footer-header">OUR CONTACT</h4>
                        Equatorial Fidelity Centre, 5th Floor, Waridi Lane, Off Waiyaki Way, Westlands.<br/>
                        P.O.Box 47435, 00100 Nairobi, GPO Kenya.<br/>
                        Telephone (Main): +254 (0) 20 4225 000;(0)709 988 000<br/>Telephone (Other): +254 (0)722 204 967; (0)774 783425;(0)733 620 001<br/>
                        E-mail:info@fidelityshield.com<br/>
                    </div>
                                            <!-- END col-3 <br/>-->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->